/** Affects all menu children */
.szh-menu-container * {
  color: #fff;
  border: 0px;
  font-weight: normal;
}

/* Rendered menu / sub-menu list (rendered container) */
.szh-menu-container ul[role="menu"] {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 0px;
  border-radius: 8px;
}

/** Menu button; closed state */
button.szh-menu-button {
  background-color: transparent;
  border: 0px;
}

/** Menu button; opened state */
button.szh-menu-button.szh-menu-button--open {
  background-color: #3c8aff;
  color: #000;
}

/* Sub-menu label in the parent menu */
.szh-menu-container li.szh-menu__submenu {
  padding: 0px;
}

.szh-menu-container li.szh-menu__submenu div[role="menuitem"] {
  color: inherit;
}

.szh-menu-container li:hover,
.szh-menu-container li div[role="menuitem"]:hover,
.szh-menu-container li div[aria-expanded="true"] {
  background-color: #3c8aff;
  color: #000;
}
