.button-transparent {
  cursor: pointer;
}

.button-transparent:disabled,
/** Fix buttons w/o valid children (i.e. span / div children) */
.button-transparent:disabled * {
  color: gray !important;
  cursor: not-allowed;
}
