/**
* Note: The usage of z-index fixes a Chrome (~99) issue where overflown content
* could interfere with the header (and possibly footer), where clicks on the
* header would previously be sent to the content area, though the header's
* content would be visible instead. The issue was not experienced on Safari or
* Firefox.
* 
* Inpsired by: @see https://codepen.io/anthonyLukes/pen/DLBe
*/

.layout {
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .header {
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;

  z-index: 1;
}

.layout .content {
  flex: 1 1 auto;
  position: relative;

  /**
   * "Overflow: hidden" is actually required to work with optional
   * <Scrollable /> child
   */
  overflow: hidden;

  z-index: 0;

  /**
  * This fixes an issue where content would appear invisible on iOS
  * Fix: 100% height doesn't work within a flex item in a flex-item child (Chrome / Safari)
  * @see https://github.com/philipwalton/flexbugs/issues/197#issuecomment-378908438 
  */
  height: 0px;
}

.layout .footer {
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;

  z-index: 1;
}
