.stacking-context {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /*
	* Indicating that a new stacking context must be created.
	* @see https://developer.mozilla.org/en-US/docs/Web/CSS/isolation
	* IE does not support this property
	*/
  isolation: isolate;
}

.stacking-context.accelerated {
  /**
  * This forces GPU acceleration of the stacked context and massively reduces
  * CPU usage when moving windows around.
  *
  * Additional reading: https://www.google.com/search?q=translate+z+gpu&oq=translate+z+gpu
  */
  transform: translateZ(0px);
}
