.window-outer-border.hidden {
  visibility: hidden;
}

.window-outer-border {
  position: absolute;

  border-radius: 8px;
  border: 1px rgb(54, 54, 54) solid;
}

/** Prevent window from being able to be larger than the available space */
/* TODO: Only enforce this change if the user has not resized the window? */
/* TODO: If window is slid off edge, move it, dynamically (i.e. call the appropriate moveTo method in the JS) */
.window,
.window-outer-border {
  max-width: 100%;
  max-height: 100%;
}

.window-outer-border:not(.active) {
  filter: drop-shadow(0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.8));
  background-color: rgba(0, 0, 0, 0.4);
}

.window-outer-border.active {
  filter: drop-shadow(0.25rem 0.25rem 1rem #000);
  background-color: rgba(0, 0, 0, 1);
}

.window.minimized {
  display: none;
}

.window .titlebar {
  background-color: rgb(26, 26, 26);
  color: #999;
  border-bottom: 1px rgba(0, 0, 0, 0.4) solid;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

.window.active .titlebar {
  background-color: rgb(54, 54, 54);
  color: #fff;
}

.window .titlebar .title {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

/* @see https://stackoverflow.com/a/36182782 */
.window .titlebar .window-controls {
  margin-left: auto;
  order: 2;
}

.window .titlebar .window-controls button {
  font-weight: bold;
}
