.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.row.disable-vertical-fill {
  height: auto;
}

.row .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
  padding: 0px;
  margin: 0px;

  /*
  Hack to enable child elements to have width: 100% & use textOverflow.
  @see https://stackoverflow.com/questions/39838908/text-overflow-ellipsis-not-working-in-nested-flexbox
  */
  min-width: 0px;
}
