/** Affects all menu children */
.szh-menu-container * {
  color: #fff;
  border: 0px;
  font-weight: normal;
}

/* Rendered menu / sub-menu list (rendered container) */
.szh-menu-container ul[role="menu"] {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 0px;
  border-radius: 8px;
}

.szh-menu-container li[aria-disabled="true"] {
  color: #999;
}

/** Menu button; closed state */
button.szh-menu-button {
  background-color: transparent;
  border: 0px;
}

/** Menu button; opened state */
button.szh-menu-button.szh-menu-button--open {
  background-color: #3c8aff;
  color: #000;
}

/* Sub-menu label in the parent menu */
.szh-menu-container li.szh-menu__submenu {
  padding: 0px;
}

.szh-menu-container li.szh-menu__submenu div[role="menuitem"] {
  color: inherit;
}

.szh-menu-container li div[role="menuitem"].szh-menu__item--hover,
.szh-menu-container li.szh-menu__item--hover {
  background-color: #3c8aff;
  color: #000;
}

.szh-menu__divider[role="separator"] {
  margin: 2px 8px 0px 8px;
  padding: 1px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  max-height: 1px;
}

.szh-menu__header[role="presentation"] {
  color: rgba(255, 255, 255, 0.4);
}
