.system-modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.system-modal .outer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.system-modal .inner-wrap {
  width: 90%;
  height: 90%;
  max-width: 640px;
  max-height: 480px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}

.system-modal:not(.small-viewport) .inner-wrap {
  border: 1px #ccc solid;
}

.system-modal.small-viewport .inner-wrap {
  width: 100%;
  height: 100%;
}

.system-modal .header {
  padding: 4px;
  border-bottom: 2px black solid;
  text-align: left;
}

.system-modal .header,
.system-modal .footer {
  background-color: rgba(0, 0, 0, 0.2);
}
